body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  background-color: rgba(100, 148, 237, 0.2);
}

#title {
  background-image: linear-gradient(160deg, rgba(100, 148, 250, 0.2),rgba(107, 144, 231, 0.753));
  text-align: center;
  padding: 10px 0px 20px 0px;
  margin: 20px 40px 0px 40px;
  border-radius: 20px;
}

h1 {
  font-size: 60px;
}

#img-div {
  margin: 0px 40px 0px 40px;
  position: relative;
  top: 20px;
  background-color: white;
  text-align: center;
  padding: 0px 20px 30px 20px;
  border-radius: 20px;
}

#image {
  display: block;
  margin: auto;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

#tribute-info {
  background-color;
  position: relative;
  max-width: 600px;
  margin: auto;
  line-height: 25px;
}

h2 {
  text-align: center;
  padding: 30px 0px 20px 0px;
}

#quote {
  padding-top: 30px;
  font-style: italic;
}

footer {
  padding: 50px;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

#tribute-link {
  color: darkblue;
}

#tribute-link:hover {
  color: blue;
}